{{>partials/layout }}

<h2>Etapa 1: Informações Pessoais</h2>
<form action="/etapa1" method="POST">
  <input type="text" name="nome" placeholder="Nome" required>
  <input type="email" name="email" placeholder="E-mail" required>
  <button type="submit">Próximo</button>
</form>

</html>
