{{>partials/header}}

<h2>Etapa 3: Resumo</h2>
<div id="resumo">
  <!-- O conteúdo será injetado dinamicamente pelo JavaScript -->
</div>

<form action="/submit" method="POST">
  <button type="submit">Enviar</button>
</form>

{{>partials/footer}}